* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/topsect.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.right__container {
    font-family: "Italiana", serif;
    position: absolute;
    width: 60%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 3;
    border-left: 4px solid #ffc815;
    font-weight: 400;
    padding-left: 11px;
    padding-right: 11px;
}

.header__title {
    color: #ffc815;
    font-size: 45px;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.header__text {
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 15px;
}

.header-text__content {
    font-family: "Syncopate", sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.header-text__content span {
    margin-right: 15px;
}

.portfolio__btn {
    border: 1px solid #ffc815;
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    padding: 5px 15px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}

.portfolio__btn:hover {
    border: 1px solid transparent;
}

.portfolio__btn::before,
.portfolio__btn::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffc815;
    top: 0;
    left: -100%;
    opacity: 0.5;
    transition: all 0.3s;
    z-index: -1;
}

.portfolio__btn::after {
    opacity: 1;
    transition-delay: 0.2s;
}

.portfolio__btn:hover::before,
.portfolio__btn:hover::after {
    left: 0px;
}

.left__container {
    background: black;
    color: #fff;
    width: 40%;
    position: fixed;
    z-index: 3;
    height: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.containerbekow {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}
.left-container__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.hamburger:hover {
    border-top: 3px solid #ffc815;
    border-bottom: 3px solid #ffc815;
}

.hamburger:hover::before {
    border-top: 3px solid #ffc815;
}

.hamburger::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 100%;
    border-top: 3px solid #fff;
    transition: all 0.3s;
}

.empty__menu {
    width: 100%;
    min-height: 100vh;
    background: rgba(229, 244, 25, 0.3);
    position: absolute;
    transform: translateX(-100%);
    transition: all 0.4s;
    z-index: -1;
}

.burger__menu {
    width: 100%;
    height: calc(100vh - 89px);
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    transform: translateX(-100%);
    transition: all 0.6s;
    z-index: -1;
}

.burger__menu--active,
.empty__menu--active {
    transform: translateX(0);
}

.burger-menu__content {
    margin-top: 50px;
}

.logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-image: url(../img/logo.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    margin-bottom: 15px;
    border: 3px solid #ffc815;
}

.menu-wrapper {
    top: 0;
    right: 0;
    width: 65px;
    cursor: pointer;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
    width: 50px;
    height: 5px;
}

.hamburger-menu {
    position: relative;
    transform: translateY(25px);
    background: rgba(255, 255, 255, 1);
    transition: all 0ms 300ms;
}

.hamburger-menu.animate {
    background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    background: rgba(255, 255, 255, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    background: rgba(255, 255, 255, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.name {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 20px;
    color: #ffc815;
}

.burger-menu__content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.menu__list {
    margin-top: 70px;
    list-style: none;
}

.menu__list li {
    margin-bottom: 30px;
}

.menu__list-link {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
}

.menu__list-link::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #ffc815; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.menu__list-link:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #ffc815; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s; /* Время эффекта */
}

.left-container__btn {
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
    background: transparent;
    border: 1px solid #ffc815;
    padding: 13px 35px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    cursor: pointer;
    margin-left: 10px;
}

.left-container__btn::before {
    background: #ffc815;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.left-container__btn::before {
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.left-container__btn:hover::before {
    height: 380%;
}

.left-container__btn:hover {
    color: #000;
}

.works {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}

.about {
    min-height: 100vh;
}

.works-right__container {
    text-align: center;
    background-color: rgb(70 51 70);
    padding-bottom: 40px;
    border: none;
}

.works__title {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    margin-top: 30px;
    display: block;
    padding-bottom: 5px;
    border-bottom: 3px solid #ffc815;
    margin-bottom: 50px;
}

.items__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
}

.works__item {
    width: 100%;
    height: 300px;
}

.cardbekow {
    width: 100%;
    height: 300px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.front_side,
.back_side {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}
.front_side {
    background-color: #fff;
}
.back_side {
    background-color: #ffc815;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    padding: 15px;
}

.back_side a {
    display: block;
    margin-top: 20px;
    font-size: 19px;
    text-transform: uppercase;
    color: rgb(0, 26, 255);
}

.cardbekow:hover .front_side {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.cardbekow:hover .back_side {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.card__img {
    width: 100%;
    height: 100%;
}

.back_side p {
    font-size: 16px;
    line-height: 20px;
    color: black;
    font-weight: 500;
}

@keyframes sheen {
    0% {
        transform: skewY(-45deg) translateX(0);
    }
    100% {
        transform: skewY(-45deg) translateX(12.5em);
    }
}

.github_page {
    margin-top: 30px;
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: #2194e0;
    border: 2px solid #2194e0;
    font-size: 21px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.github_page::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}

.github_page:hover {
    background-color: #2194e0;
    color: #fff;
    border-bottom: 4px solid darken(#2194e0, 10%);
}

.github_page:hover::before {
    transform: skewX(-45deg) translateX(18.5em);
    transition: all 0.5s ease-in-out;
}

.about {
    background: -webkit-repeating-linear-gradient(
        135deg,
        #242237 -3px,
        #242237 0px,
        rgba(62, 59, 94, 0.88) 3px,
        rgba(62, 59, 94, 0.88) 3px
    );
    background: -moz-repeating-linear-gradient(
        135deg,
        #242237 -3px,
        #242237 0px,
        rgba(62, 59, 94, 0.88) 3px,
        rgba(62, 59, 94, 0.88) 3px
    );
    background: -o-repeating-linear-gradient(
        135deg,
        #242237 -3px,
        #242237 0px,
        rgba(62, 59, 94, 0.88) 3px,
        rgba(62, 59, 94, 0.88) 3px
    );
    background: repeating-linear-gradient(
        -45deg,
        #242237 -3px,
        #242237 0px,
        rgba(62, 59, 94, 0.88) 3px,
        rgba(62, 59, 94, 0.88) 3px
    );
    border: none;
}

.about {
    padding: 100px 20px 0;
}

.about__info {
    max-width: 1000px;
    margin: 0 auto;
    padding: 70px;
    background-color: #fff;
    border-radius: 10px;
}

.about__title {
    font-size: 36px;
    font-weight: 700;
    border-bottom: 2px solid #ffc815;
    margin-bottom: 30px;
}
.about__name {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 500;
    margin-right: 10px;
}
.about__skill {
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 35px;
}
.about__date {
    font-size: 20px;
    margin-bottom: 15px;
}
.about__date span {
    font-weight: 700;
    border-bottom: 2px solid #ffc815;
}

.about__city {
    font-size: 20px;
    margin-bottom: 15px;
}

.about__city span {
    font-weight: 700;
    border-bottom: 2px solid #ffc815;
}
.about__skills-title {
    font-size: 20px;
    border-bottom: 2px solid #ffc815;
}

.about__skills {
    padding-left: 18px;
    margin-top: 15px;
}
.about__skill-item {
    font-size: 18px;
    margin-bottom: 8px;
}
.about__skills-title {
    margin-top: 20px;
    border-bottom: 2px solid #ffc815;
    display: inline-block;
}
.about__skills-programms {
    padding-left: 18px;
    margin-top: 15px;
}

.about__img-block {
    max-width: 500px;
    height: 350px;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 50px;
}

.about__img-block img {
    max-width: 100%;
    height: 100%;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about__skills-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    max-width: 700px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.personal__q-title {
    font-size: 20px;
    margin-top: 30px;
    line-height: 27px;
}

.personal__q-title span {
    border-bottom: 2px solid #ffc815;
    font-weight: 700;
}

.education {
    font-size: 20px;
    margin-top: 30px;
    line-height: 27px;
}

.education span {
    font-weight: 700;
    border-bottom: 2px solid #ffc815;
}

.contacts__info {
    max-width: 1000px;
    margin: 70px auto 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
}

.contacts__title {
    font-size: 36px;
    font-weight: 700;
    border-bottom: 2px solid #ffc815;
    margin-bottom: 30px;
}

.advanced {
    font-size: 20px;
    margin-top: 27px;
    line-height: 27px;
}

.advanced span {
    font-weight: 700;
    border-bottom: 2px solid #ffc815;
}

.phone,
.email {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
    transition: all 0.2s;
}

.phone::before,
.email::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 30px;
    background-repeat: no-repeat;
}

.phone::before {
    background-image: url(../img/social/phone.svg);
}

.email::before {
    background-image: url(../img/social/email.svg);
}

.socials {
    width: 200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.phone:hover,
.email:hover {
    color: #ffc815;
}

.soc {
    transition: all 0.3s;
}

.soc:hover {
    transform: translateY(-7px);
}

.about__skills-inner__item {
    margin-right: 10px;
}

.menu__socials {
    margin-top: 150px !important;
}
